@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
    font-weight: 300;
    margin:0;
}

:root {
    --htext: 'Shrikhand', cursive;
}

html {
    scroll-behavior: smooth;
}


.band__img {
    max-width: 100%;
    max-height: auto;
}

.card__video--container {
    display: flex;
    background-color: #F8B13F;
    height: 300px;
    justify-content: center;
    margin-top: -50px;
    padding-top: 50px;
}

.card__heading {
    font-family: var(--htext);
    padding-top: 30px;
    background-color: #F8B13F;
    padding-left: 20px;
}

.card__video {
   
    max-width: 90%;
    height: auto;
}

.card__title {
    font-family: var(--htext);
    float: right;
    padding-right: 20px;
    background-color: #F8B13F;
    margin-top: -140px;
    font-size: 14px;
    position: relative;
}

.drops__img {
    max-width: 100%;
    height: auto;
    margin-top: -90px;
}


.record__img {
    width: 65%;
    height: auto;
    float: right;
    
}

.card__icons {
    margin-top: 0;
}

.card__icon {
    width: 10%;
    height: auto;
    margin: 30px;
}

.card__icon--title {
    font-family: var(--htext);
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: -20px;
}

.card__icontext {
    margin-top: -25px;
    font-size: 12px;
    margin-left: 30px;

}

.card__infocontainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 40px;
}

.card__info {
    width: 300px;
}

.card__info--title {
    font-family: var(--htext);
    font-size: 30px;
}

.card__info--text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 15px;
}

.card__scroll--function {
    text-decoration: none;
    color: #F8B13F;
    float: right;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.socials__icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-bottom: 50px;
}

